<div class="col-xs-7">
 
 <article class="article--body">
        <h1>Los 5 carniceros de Talleres en los últimos años</h1>

    <p><strong>Desde las épocas del Hacha Ludueña</strong> (padre, de más está decir), el público Matador se considera de buen paladar futbolístico. Nos gusta más el <i>tiki tiki</i> y salir jugando que él ‘para arriba y a defender’ que distinguió al Belgrano del Ruso Zielinski de los últimos años. Pero a pesar de eso, cada tanto aparece un jugador en el plantel con habilidades carniceras dignas de Blas Giunta.</p>
    <p>Sin mas que agregar, repasamos a 5 de los grandes carniceros albiazules de los últimos tiempos.</p>
    <h2>Gabriel Osvaldo ‘El Chavo’ Ruiz</h2>
    <p>Como olvidar al Chavo Ruiz y sus patadas voladoras en el césped del Kempes. Este lateral derecho surgido de Newell's Old Boys tuvo un breve paso por Talleres entre 2011 y 2012. A pesar de no poder ascender, el público Matador todavía recuerda con cariño las piruetas del Chavo. Con sus buenos 37 años, todavía demuestra su magia en el actual Federal A, jugando para Tiro Federal de Rosario. </p>
    <h2>Leandro Miguel ‘El Pelado’ Alvarez</h2>
    <p>Otro lateral derecho inolvidable para la hinchada de Talleres. Y cuando digo inolvidable, me refiero a muy difícil de olvidar. Rustico y asesino, sus centros eran casi tan malos como los de Buffarini. </p>
    <p>Después de un año en Grecia, viene a Talleres de Córdoba a jugar la B Nacional, en el cual solo jugaría 17 partidos en toda una temporada, para después volver a Grecia. Actualmente se encuentra jugando en Argentinos de 25 de mayo, que milita el Federal B. Un lírico. </p>
    <h2>Emiliano ‘El Polaco’ Giannunzio</h2>
    <p>Muchos lo recuerdan por ser el hermano perdido de Bastia (el central de Racing), este 5 de marca vino a Talleres en el 2010 de la mano de Rebottaro. Figura de aquel plantel con dos ascensos frustrados, siempre se caracterizó por romper que por tocar</p>
    <p>Iba al piso sin ninguna consideración por la integridad física del rival pero cada tanto tiraba un lujo como este gol en la Boutique, con taco incluido. Alguna gente en la vieja Platea Cubierta todavía lo pide. Idolo. </p>
    <h2>Rodrigo Burgos</h2>
    <p>Después del eterno Guinazu, Burgos fue el mejor 5 que tuvo Talleres en los últimos tiempos. Llegó a Talleres en 2014 para jugar el Federal A y rápidamente se ganó el cariño de la gente albiazul. </p>
    <p>No solamente fue el mejor jugador en el Argentino A. Además, fue una pieza importantísima de la campaña albiazul de B Nacional, donde jugó dos meses arrastrando una hernia inguinal e hizo goles clave, como el agónico cabezazo en el minuto 95 contra Crucero del Norte.</p>
    <p>Después de ascender a Primera División, se tatuó el escudo de Talleres en la pantorrilla. A principios de esta temporada decidió volver a su Paraguay natal para seguir rompiendo huesos en Olimpia. Te vamos a extrañar, León. </p> 

        <p>
      <small>
        Adapted from <a href="https://en.wikipedia.org/wiki/Johannes_Gutenberg">Wikipedia</a> and <a href="http://www.biography.com/people/johannes-gutenberg-9323828">biography.com</a>.
      </small>
    </p>
  </article>

  </div>

  <div class="col-xs-6">
  </div>