/// Typefaces

$header-font: Merriweather, serif;
$body-font: Merriweather Sans, sans-serif;
$logo-font: Roboto Slab, serif;

// Colors

$black: #222;
$white: #fff;
$main-color: #fff;
$highlight-color: #013AAA;

// Others

$footer-height: 160px;